# Python
__pycache__
*.pyc
*.egg-info
dist
.venv

# Log
*.log
*.log.*
*.json
!playground/deepspeed_config_s2.json
!playground/deepspeed_config_s3.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
checkpoints_flant5_3b

# Data
*.pkl
*.csv
tests/state_of_the_union.txt

# Build
build

# Image data
serve_images
val2014
vqa_examples
fastchat/llm_judge/data/mt_bench/model_answer/alpaca-13b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/baize-v2-13b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/chatglm-6b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/claude-instant-v1.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/claude-v1.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/dolly-v2-12b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/falcon-40b-instruct.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/fastchat-t5-3b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/gpt-3.5-turbo.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/gpt-4.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/gpt4all-13b-snoozy.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/guanaco-33b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/guanaco-65b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/h2ogpt-oasst-open-llama-13b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/koala-13b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/llama-13b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/mpt-7b-chat.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/mpt-30b-chat.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/mpt-30b-instruct.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/nous-hermes-13b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/oasst-sft-4-pythia-12b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/oasst-sft-7-llama-30b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/palm-2-chat-bison-001.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/rwkv-4-raven-14b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/stablelm-tuned-alpha-7b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/tulu-30b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/vicuna-7b-v1.3.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/vicuna-13b-v1.3.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/vicuna-33b-v1.3.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/wizardlm-13b.jsonl
fastchat/llm_judge/data/mt_bench/model_answer/wizardlm-30b.jsonl
fastchat/llm_judge/data/mt_bench/model_judgment/gpt-4_pair.jsonl
fastchat/llm_judge/data/mt_bench/model_judgment/gpt-4_single.jsonl
